<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
  </head>
  <body>
    <h1>Admin</h1>

    <% for (var i in q) { %>
    <div>
      Q: <%= q[i].q %>
      <button  id="<%= i %>" class="send_btn">Send</button>
    </div>

    <% } %>
    <div>
      <button id="start_btn">Start</button>
      <button id="reset_btn">Reset</button>
      <button id="result_btn">Result</button>
    </div>
  </body>
</html>
