<!DOCTYPE html>
<html>
  <head>
    <title>クイズdeバレンタイン</title>
    <link rel="stylesheet" href="/css/cssreset-min.css">
    <link rel="stylesheet" href="/css/console.css" />

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/console.js"></script>
    
  </head>
  <body>
    <div class="debug"></div>
    <div id="main">
      <h1>クイズdeバレンタイン</h1>
      <div id="content">
	<div id="image"></div>
	<div id="question"></div>
	<ul id="choices"></ul>
	<div id="countdown"></div>
	<ul id="result"></ul>
      </div>
    </div>
  </body>
</html>
