<!DOCTYPE html>
<html>
  <head>
    <title>クイズdeバレンタイン</title>
    <link rel="stylesheet" href="/css/cssreset-min.css">
    <link rel="stylesheet" href="/css/console.css" />

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="/js/console.js"></script>
    
  </head>
  <body>
    <div class="debug"></div>
    <div id="status"></div>
    <div id="result">
      <h2>結果発表</h2>
      <h2>正解 <span id="correct"> </span></h2>
      <ul id="ranker"></ul>
    </div>
    <div id="main">
      <h1>クイズdeバレンタイン</h1>
      <div class="content" id="main">
	<div id="image"></div>
	<div id="question"></div>
	<ul id="choices"></ul>
      </div>
    </div>
  </body>
</html>
