body {
    font-family:'Lucida Grande',
    'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    Meiryo, メイリオ, sans-serif;
}

.debug {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    border: red dotted 1px;
    width: 1366px;
    height: 768px;
}

div#main {
    padding: 10px;
}

h1 {
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
}

div#content {
    font-size: 28pt;
    padding: 0px 50px 20px 50px;
}

ul#choices li {
    clear: both;
    line-height: 1em;
}
div.c_title {
    text-align: right;
    margin: 10px 20px 10px 0px;
    float: left;
    width: 600px;
}

div#question {
    font-size: 36pt;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}
div#image {
    text-align: center;
}
div#image img {
    height: 300px;
}