body {
    font-family:'Lucida Grande',
    'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    Meiryo, メイリオ, sans-serif;
}

.debug {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    border: red dotted 1px;
    width: 800px;
    height: 600px;
}


h1 {
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    background: #d04255; /* Old browsers */
    background: -moz-linear-gradient(top,  #d04255 0%, #e38692 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d04255), color-stop(100%,#e38692)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d04255 0%,#e38692 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d04255 0%,#e38692 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d04255 0%,#e38692 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d04255 0%,#e38692 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d04255', endColorstr='#e38692',GradientType=0 ); /* IE6-9 */

    color: #F6D4D8;
}

div#status {
    position: absolute;
    z-index: -1;
    top: 30px;
    right: 30px;
    width:  180px;
    height: 120px;
    font-size: 24pt;
    font-weight: bold;
    text-align: right;
}

div.content {
    font-size: 16pt;
    padding: 0px 50px 20px 50px;
}

ul#choices li {
    margin-top: 10px;
    font-size: 22pt;
    clear: both;
    line-height: 1em;
    padding: 5px;
}
div.c_title {
    text-align: right;
    margin: 0px 10px 5px 0px;
    float: left;
    width: 360px;
}
meter.bar {
    width: 0px;
    -webkit-appearance: none; 
    background-color: #f00;
}

div#question {
    font-size: 24pt;
    margin: 5px;
    font-weight: bold;
    text-align: center;
}
div#image {
    text-align: center;
}
div#image img {
    margin: 5px;
    height: 180px;
}

ul#ranker {
    margin-left: 30px;
    font-size: 20pt;
}
ul#ranker li {
    display: none;
    overflow-x: hidden;
}
div#result {
    display: none;
    position: absolute;
    background-color: #fff;
    border: #E38692 solid 2px;
    z-index: 10;
    top: 60px;
    left: 25%;
    width: 50%;
    height: 80%;
}
div#result h2 {
    text-align: center;
    margin: 10px;
    font-size: 18pt;
    font-weight: bold;
}
div#result h2 {
    margin: 5px;
    font-size: 20pt;
    font-weight: bold;
}
div#score h2 {
    text-align: center;
    margin: 5px;
    font-size: 20pt;
    font-weight: bold;
}
ul#ranking {
    text-align: center;
    font-size: 16pt;
}
ul#ranking li {
    display: none;
}
.hide {
    display: none;
}